<template>
  <div class='app-search'>
    <search-resizer
      :el='$el'
      :initial-width='width'
      :min-width='minWidth'
      :max-width='maxWidth'
    />
    <base-title>Description</base-title>
    <base-textarea
      class='desc'
      placeholder='Description...'
      @input='update({ desc: $event })'
    />
    <base-title>Tags</base-title>
    <tag-picker
      class='tag-picker'
      placeholder='Tag..'
      @update='update({ tags: $event })'
    />
  </div>
</template>

<script>
import baseTitle from '../ui/base-title.vue'
import baseTextarea from '../ui/base-textarea.vue'
import tagPicker from '../tag-picker/tag-picker.vue'
import searchResizer from './search-resizer.vue'

import EventBus from '../../js/event-bus.js'

export default {
  name: 'app-search',
  components: {
    baseTitle,
    baseTextarea,
    tagPicker,
    searchResizer,
  },
  data() {
    return {
      width: 300,
      minWidth: 250,
      maxWidth: 400,
      query: {},
    }
  },
  methods: {
    update(params) {
      const doc = this.query

      if (params.tags) {
        doc.tags = params.tags
      }
      if (params.tags && params.tags.length == 0) {
        doc.tags = false
      }

      if (params.desc) {
        doc.desc = params.desc
      }
      if (params.desc == '') {
        doc.desc = false
      }

      this.query = doc

      // Gallery force update
      EventBus.$emit('gallery-update', doc)
    },
  },

}
</script>

<style scoped>
.app-search {
  background: rgb(var(--color-search));
  --color-input: var(--color-search-input);

  padding: 16px;
  position: relative;
  border-top-left-radius: 8px;

  flex: 0 0 auto;
}

.app-search .desc {
  resize: vertical;
  width: 100%;
  margin-bottom: 16px;
}
</style>
