<template>
  <div
    class='resizer'
    @mousedown='startResize'
  />
</template>

<script>
export default {
  name: 'search-resizer',
  props: {
    // initial width of sidebar
    initialWidth: Number,
    // min width of sidebar
    minWidth: Number,
    // max width of sidebar
    maxWidth: Number,
  },
  data() {
    return {
      el: '',
      offset: 0,
      width: this.initialWidth,
      isResizing: false,
    }
  },
  mounted() {
    this.offset = this.$parent.$el.offsetLeft
    this.el = this.$parent.$el
    this.el.style.width = this.initialWidth + 'px'
  },
  methods: {
    resize(e) {
      const x = e.x - this.offset

      if (x < this.minWidth) {
        this.el.style.width = this.minWidth + 'px'
      } else if (x > this.maxWidth) {
        this.el.style.width = this.maxWidth + 'px'
      } else if (x > this.minWidth) {
        this.el.style.width = e.x - this.offset + 'px'
      }
    },

    startResize() {
      this.isResizing = true
      document.body.style.cssText = 'cursor: w-resize; user-select: none;'

      document.addEventListener('mousemove', this.resize)
      document.addEventListener('mouseup', this.stopResize, { once: true })
    },

    stopResize() {
      this.isResizing = false
      document.body.style.cssText = ''

      document.removeEventListener('mousemove', this.resize)
    },
  },
}
</script>

<style scoped>
.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  cursor: w-resize
}
</style>
