<template>
  <section
    class='gallery'
    :style='"--column-count:" + columnsCount'
  >
    <div
      v-for='(column, index) in columns'
      :key='index'
      ref='columns'
      class='column'
    >
      <img
        v-for='image in column.images'
        :key='image._id'
        ref='images'
        class='image'
        :src='image.src'
        draggable='false'
        @click.left='showImageEdit(image)'
        @click.right='copyByName(image._id)'
      >
    </div>
  </section>
</template>

<script>
import { pathByName, copyByName } from '../../js/utils.js'
import { images } from '../../db'

import EventBus from '../../js/event-bus.js'

export default {
  name: 'app-gallery',
  data() {
    return {
      columnWidth: 300,
      columnsCount: 3,
      images: [],
      imageNodes: [],
      query: {},
      filter: {},
    }
  },
  computed: {
    columns() {
      let columns = []

      for (let i = 0; i < this.columnsCount; i += 1) {
        columns.push({
          id: i,
          height: 0,
          images: [],
        })
      }

      for (let image of this.images) {
        let column = this.minColumn(columns)
        let height = (111 / image.width) * image.height

        column.height += height
        column.images.push({
          ...image,
          src: pathByName(image._id, image.format),
        })
      }

      return columns
    },
  },
  mounted() {
    this.update()

    EventBus.$on('gallery-update', this.update)

    new ResizeObserver(() => { this.updateColumnCount() }).observe(this.$el)
  },
  methods: {
    minColumn(columns) {
      return columns.sort((a, b) => a.height - b.height)[0]
    },

    normalizeFilter(params = {}) {
      const doc = this.filter

      if (params.tags == false) delete doc.$and
      if (params.desc == false) delete doc.desc

      if (params.tags) {
        doc.$and = []

        for (let tag of params.tags) {
          doc.$and.push({ tags: tag })
        }
      }
      if (params.desc) doc.desc = new RegExp(`(^${params.desc})|([ ,./?:;\'"\()\[\\]<>\-\_|!@#$%^&*-=+№\`~]${params.desc})`)

      this.filter = doc
    },

    async update(params) {
      this.normalizeFilter(params)

      this.images = await images.find(this.filter)
    },

    updateColumnCount() {
      let count = Math.floor(this.$el.scrollWidth / this.columnWidth)
      count = count < 1 ? 1 : count

      if (count != this.columnsCount) {
        this.columnsCount = count
        return true
      }
      return false
    },

    showImageEdit(image) {
      // show image edit popup
      // @arg image data
      this.$emit('image-edit', image)
    },

    copyByName: copyByName,
  },
}
</script>

<style scoped>
.gallery {
  background-color: rgb(var(--color-background));
  font-size: 0;
  user-select: none;
  overflow-y: scroll;

  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: var(--app-gap);
  padding-right: 4px;

  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: var(--app-gap);

  --scrollbar-width: 17px;
  --scrollbar-border: 4px;
}

.gallery .column {
  height: min-content;
}

.gallery .image {
  cursor: pointer;
  width: 100%;
  margin-top: var(--app-gap);
  border-radius: var(--app-border-radius-s);
}

/* broken image placeholder */
.gallery .image:after {
  content: 'Broken image ' attr(data-name);
  background-color: rgb(var(--color-foreground));
  font-size: 1.5rem;
  text-align: center;

  display: inline-block;
  --size: calc(
  ((100vw - var(--app-sidebar-width) - var(--app-gap))
    / var(--column-count)) - var(--app-gap));
  width: var(--size);
  height: var(--size);
  margin-top: -16px;
  padding-top: calc(50% - 2rem);
}
</style>
