<template>
  <image-viewer
    v-if='shown'
    ref='viewer'
    :src='src'
    @close='close'
  >
    <base-button @click='submit'>
      Submit
    </base-button>
  </image-viewer>
</template>

<script>
import { images } from '../../db'
import { save } from '../../js/utils.js'
import EventBus from '../../js/event-bus.js'

import imageViewer from './image-viewer.vue'
import baseButton from '../ui/base-button.vue'

export default {
  name: 'app-image-upload',
  components: {
    imageViewer,
    baseButton,
  },
  data() {
    return {
      shown: false,
      src: '',
      queue: [],
    }
  },
  methods: {
    queueImages(data) {
      let oldLength = this.queue.length
      this.queue = [...this.queue, ...data.links]
      if (oldLength == 0) this.nextImage()
    },

    nextImage() {
      if (this.queue.length != 0) {
        this.showImage(this.queue[0])
      } else {
        this.src = ''
        this.shown = false
      }
    },

    showImage(link) {
      this.src = link
      this.shown = true
    },

    async submit() {
      let format = this.src.split('.').slice(-1)[0]

      let tags = this.$refs.viewer.$refs.tagPicker.tags

      let desc = this.$refs.viewer.$refs.desc.text()
      desc = desc.trim() ? desc.trim() : null

      let height = this.$refs.viewer.$refs.image.naturalHeight
      let width = this.$refs.viewer.$refs.image.naturalWidth

      const image = await images.insert({
        format, tags, desc, height, width,
      })

      await save(image._id, format, this.src)

      this.queue.shift()
      this.nextImage()

      // Gallery force update
      EventBus.$emit('gallery-update')
    },

    close() {
      this.queue = []
      this.src = ''
      this.shown = false
    },
  },
}
</script>

<style></style>
