<template>
  <image-viewer
    v-if='shown'
    ref='viewer'
    :src='image.src'
    :tags='image.tags'
    :initial-desc='image.desc'
    @close='hide'
  >
    <base-button @click='update'>
      Update
    </base-button>
    <base-button
      type='danger'
      @click='remove'
    >
      Remove
    </base-button>
    <base-button
      type='cancel'
      @click='copy'
    >
      Copy
    </base-button>
  </image-viewer>
</template>

<script>
import { copyByName, remove } from '../../js/utils.js'
import { images } from '../../db'
import EventBus from '../../js/event-bus.js'

import imageViewer from './image-viewer.vue'
import baseButton from '../ui/base-button.vue'

export default {
  name: 'app-image-edit',
  components: {
    imageViewer,
    baseButton,
  },
  data() {
    return {
      shown: false,
      image: {
        _id: '',
        format: '',
        src: '',
        tags: [],
        desc: '',
      },
    }
  },
  methods: {
    show(image) {
      this.shown = true
      this.image = image
    },

    hide() {
      this.shown = false
      this.image = {
        _id: '',
        format: '',
        src: '',
        desc: '',
        tags: [],
      }
    },

    async update() {
      let desc = this.$refs.viewer.$refs.desc.text()
      let tags = this.$refs.viewer.$refs.tagPicker.tags
      desc = desc.trim() ? desc.trim() : ''
      tags = tags.length ? tags : []

      await images.update(this.image._id, { desc, tags })

      // Gallery force update
      EventBus.$emit('gallery-update')
      this.hide()
    },

    remove() {
      images.remove(this.image._id)
      remove(this.image._id, this.image.format)

      EventBus.$emit('gallery-update')
      this.$emit('q-popup', 'TODO: dialog popup')
      this.hide()
    },

    copy() {
      copyByName(this.image._id)
      // Show popup
      // @arg popup text
      this.$emit('q-popup', 'Image copied.')
    },
  },
}
</script>

<style></style>
