<template>
  <div class='viewer'>
    <div class='content'>
      <div class='image-wrap'>
        <img
          ref='image'
          class='image'
          :src='src'
          @load='load'
        >
      </div>
      <div class='sidebar'>
        <div class='info'>
          <base-title>Description</base-title>
          <base-textarea
            ref='desc'
            v-model='desc'
            placeholder='Description...'
          />
          <base-title>Tags</base-title>
          <tag-picker
            ref='tagPicker'
            placeholder='Tag...'
            :initial-tags='tags'
          />
        </div>
        <div class='buttons'>
          <!-- buttons -->
          <slot />
        </div>
      </div>
    </div>
    <div
      class='background'
      @click='$emit("close", false)'
    >
      <icon-close
        class='icon-close'
        :size='32'
      />
    </div>
  </div>
</template>

<script>
import baseTitle from '../ui/base-title.vue'
import baseTextarea from '../ui/base-textarea.vue'
import tagPicker from '../tag-picker/tag-picker.vue'
import iconClose from '../ui/icons/icon-close.vue'

export default {
  name: 'image-viewer',
  components: {
    baseTitle,
    baseTextarea,
    tagPicker,
    iconClose,
  },
  props: {
    // image src
    src: String,
    // intial description passed to textarea
    initialDesc: String,
    // tags passed to textarea
    tags: Array,
  },
  data() {
    return {
      desc: this.initialDesc,
    }
  },
  computed: {
    tagsString() {
      if (this.tags && this.tags.length) return this.tags.join(', ')
      return ''
    },
  },

  mounted() {
    this.$nextTick(() => {
      const resizeObserver = new ResizeObserver(entries => {
        entries.forEach(this.resize)
      })
      resizeObserver.observe(this.$el)

      window.addEventListener('keyup', this.keypress)
    })
  },

  beforeDestroy() {
    window.removeEventListener('keyup', this.keypress)
  },

  methods: {
    load() {
      this.resize({
        target: this.$el,
        contentRect: {
          width: this.$el.clientWidth - 32,
          height: this.$el.clientHeight - 32,
        },
      })
    },

    resize(e) {
      const viewer = e.target
      const image = viewer.querySelector('.image')
      const sidebarWidth = +getComputedStyle(viewer)
        .getPropertyValue('--sidebar-width')
        .slice(0, -2)

      if (image.naturalHeight == 0) return

      const area = {
        width: e.contentRect.width,
        height: e.contentRect.height,
      }

      const available = {
        width: area.width - sidebarWidth,
        height: area.height,
      }

      image.real = {
        height: image.naturalHeight,
        width: image.naturalWidth,
      }
      image.min = {
        height: 500,
        width: 200,
      }
      image.max = {
        height: image.real.height > available.height ? available.height : image.real.height,
        width: image.real.width > available.width ? available.width : image.real.width,
      }

      image.max = {
        height: image.real.height > image.min.height ? image.real.height : image.min.height,
        width: image.real.width > image.min.width ? image.real.width : image.min.width,
      }

      image.new = {
        height: available.height,
        width: (available.height * image.real.width) / image.real.height,
      }

      if (image.new.width > available.width) {
        image.new = {
          width: available.width,
          height: (available.width * image.real.height) / image.real.width,
        }
      }

      if (image.new.height > image.max.height) {
        image.new.height = image.max.height
      }
      if (image.new.width > image.max.width) {
        image.new.width = image.max.width
      }

      if (image.new.height < image.min.height) {
        image.new.height = image.min.height
      }
      if (image.new.width < image.min.width) {
        image.new.width = image.min.width
      }

      image.parentElement.style.cssText = `width: ${image.new.width}px; height: ${image.new.height}px`
    },

    keypress(e) {
      if (e.code == 'Escape') {
        e.preventDefault()
        // close image viewer
        this.$emit('close', false)
      }
    },
  },
}
</script>

<style scoped>
.viewer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  --sidebar-width: 400px;
}

.viewer .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.viewer .icon-close {
  position: absolute;
  right: 24px;
  top: 16px;
  font-size: 2rem;
  color: rgba(var(--color-text-brighter), 0.5);
}

.viewer .background:hover {
  cursor: pointer;
}

.viewer .background:hover .icon-close {
  color: rgba(var(--color-text-brighter), 0.8);
}

.viewer .content {
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(var(--color-foreground));
  border-radius: var(--app-border-radius-m);
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;
}

.viewer .image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
  background-color: rgb(var(--color-foreground));
}

.viewer .sidebar {
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 540px;
}

.viewer .info {
  margin-bottom: 32px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100% - 96px);
  min-height: 48px;
}

.viewer .textarea {
  width: 100%;
  resize: vertical;
  flex-grow: 0;
  flex-shrink: 1;
}

.viewer .textarea:not(:last-child) {
  margin-bottom: 32px;
}

.viewer .buttons {
  margin: 16px;
  margin-left: 32px;
  margin-top: auto;
  padding-bottom: 16px;
}

.viewer .button:not(:last-child) {
  margin-right: 16px;
}
</style>
