<template>
  <div class='quick-popup'>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'quick-popup',
  data() {
    return {
      uploadData: {},
    }
  },
}
</script>

<style scoped>
.quick-popup {
  padding: 24px 32px;
  background: rgb(var(--color-select));
  border-radius: var(--app-border-radius-l);

  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
</style>
