<template>
  <div class='titlebar'>
    <div class='title'>
      {{ pageTitle() }}
    </div>
    <div class='buttons'>
      <button
        class='button minmax'
        @click='window.hide()'
      >
        <icon-titlebar-minimize :size='12' />
      </button>
      <button
        class='button minmax'
        @click='toggleMinmax'
      >
        <icon-titlebar-minmax :size='12' />
      </button>
      <button
        class='button close'
        @click='window.close()'
      >
        <icon-titlebar-close :size='12' />
      </button>
    </div>
  </div>
</template>

<script>
import { remote } from 'electron'
import iconTitlebarClose from './ui/icons/icon-titlebar-close.vue'
import iconTitlebarMinmax from './ui/icons/icon-titlebar-minmax.vue'
import iconTitlebarMinimize from './ui/icons/icon-titlebar-minimize.vue'

export default {
  name: 'app-titlebar',
  components: {
    iconTitlebarClose,
    iconTitlebarMinmax,
    iconTitlebarMinimize,
  },
  data() {
    return {
      window: remote.getCurrentWindow(),
      titleEl: document.head.querySelector('title'),
    }
  },
  methods: {
    pageTitle() {
      return document.head.querySelector('title').text
    },

    toggleMinmax() {
      if (this.window.isMaximized()) this.window.restore()
      else this.window.maximize()
    },
  },
}
</script>

<style scoped>
.titlebar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--app-titlebar-height);
  -webkit-app-region: drag;
  z-index: 3001;
  margin-top: 4px;
  cursor: pointer;
}

.titlebar .title {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  color: rgb(var(--color-text));
  font-size: 0.825rem;
  margin-left: calc(3 * 1.5 * var(--app-titlebar-height));
  margin-top: -4px;
  pointer-events: none;
}

.titlebar .buttons {
  margin-top: -4px;
  height: var(--app-titlebar-height);
  display: flex;
  flex-direction: row;
}

.titlebar .button {
  background: transparent;
  border: none;
  height: 100%;
  width: calc(var(--app-titlebar-height) * 1.5);
  color: rgb(var(--color-text));
  cursor: pointer;
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlebar .button.minmax:hover {
  background: rgb(var(--color-titlebar-button-hover));
}

.titlebar .button.close:hover {
  background: rgb(232, 17, 35);
  color: rgb(255, 255, 255);
}

.titlebar .button:focus {
  outline: none;
}
</style>
