<template>
  <div
    v-show='showApp'
    class='app-mount'
    :class='"theme-" + theme'
    draggable='false'
  >
    <app-titlebar />
    <div class='app'>
      <app-nav
        ref='nav'
        :search-active='showSearch'
        :initial-theme='theme'
        @toggle-search='toggleSearch'
        @toggle-theme='toggleTheme'
        @show-settings='showSettings = true'
      />
      <app-search
        v-if='showSearch'
        ref='search'
      />
      <app-gallery
        ref='gallery'
        @image-edit='$refs.imageEdit.show($event)'
      />
      <app-settings
        v-if='showSettings'
        @close='showSettings = false'
      />

      <app-image-upload
        ref='imageUpload'
      />
      <app-image-edit
        ref='imageEdit'
      />
      <app-upload
        @upload='uploadImages'
      />
      <!-- <transition name='fade'>
        <quick-popup v-show='shown'>
          {{ quickPopupText }}
        </quick-popup>
      </transition> -->
    </div>
  </div>
</template>

<script>
import appTitlebar from './app-titlebar.vue'
import appNav from './app-nav/app-nav.vue'
import appSearch from './app-search/app-search.vue'
import appGallery from './app-gallery/app-gallery.vue'
import appSettings from './app-settings/app-settings.vue'
import appImageUpload from './app-image/app-image-upload.vue'
import appImageEdit from './app-image/app-image-edit.vue'
import appUpload from './app-upload/app-upload.vue'
import quickPopup from './popup/quick-popup.vue'

import { settings } from '../db'

// @vuese
export default {
  name: 'app-mount',
  components: {
    appTitlebar,
    appNav,
    appSearch,
    appGallery,
    appSettings,
    appImageUpload,
    appImageEdit,
    appUpload,
    quickPopup,
  },
  data() {
    return {
      theme: 'dark',
      isQuickPopupShown: false,
      quickPopupText: '',
      showSearch: true,
      showSettings: false,
      showApp: false,
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    /**
     * @vuese
     * Gets called on mount
     */
    async init() {
      this.theme = (await settings.read()).theme
      this.showApp = true
    },

    /**
     * Toggle search sidebar
     */
    toggleSearch() {
      this.showSearch = !this.showSearch
    },

    /**
     * Toggle app theme
     */
    toggleTheme() {
      if (this.theme == 'dark') {
        settings.update('theme', 'light')
        this.theme = 'light'
      } else {
        settings.update('theme', 'dark')
        this.theme = 'dark'
      }
    },

    /**
     * Show upload image dialog
     */
    uploadImages(data) {
      this.$refs.imageUpload.queueImages(data)
    },

    /**
     * Show popup
     */
    showQuickPopup(text, time = 3000) {
      this.isQuickPopupShown = true
      this.quickPopupText = text

      setTimeout(() => {
        this.isQuickPopupShown = false
      }, time)
    },
  },
}
</script>

<style src="../css/vars.css"></style>
<style src="../css/scrollbar.css"></style>

<style>
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
</style>

<style scoped>
.app-mount {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(var(--color-titlebar));
  color: rgb(var(--color-text));
  overflow: hidden;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  /* background-color: rgb(var(--color-background)); */
  position: relative;
  width: 100%;
  height: calc(100vh - var(--app-titlebar-height));
  display: flex;
  flex-direction: row;
}
</style>
