<template>
  <base-icon-titlebar :size='size'>
    <rect
      fill='currentColor'
      width='10'
      height='1'
      x='1'
      y='6'
    />
  </base-icon-titlebar>
</template>

<script>
import baseIconTitlebar from '../base-icon-titlebar.vue'

export default {
  name: 'icon-titlebar-minimize',
  components: { baseIconTitlebar },
  props: { size: Number },
}
</script>

<style></style>
