<template>
  <base-icon :size='size'>
    <path
      fill='currentColor'
      d='M18.87 10.37c-.75-4.76-5-8.35-9.82-8.37-.49 0-.97.03-1.44.1-.5.07-.6.73-.14.96C10.75
      4.69 13 8.08 13 12s-2.25 7.31-5.53 8.95c-.45.23-.36.89.14.96.47.06.95.09 1.44.09 4.82-.02
      9.07-3.61 9.82-8.37.09-.55.11-1.09.11-1.63 0-.54-.02-1.08-.11-1.63z'
    />
  </base-icon>
</template>

<script>
import baseIcon from '../base-icon.vue'

export default {
  name: 'icon-theme-dark',
  components: { baseIcon },
  props: { size: Number },
}
</script>

<style></style>
