<template>
  <base-icon-titlebar :size='size'>
    <path
      stroke='currentColor'
      fill='none'
      stroke-width='1'
      d='M 1, 1 L 6, 6 L 1, 11 M 11, 11 L 6, 6 L 11, 1 M 0, 0 Z'
    />
  </base-icon-titlebar>
</template>

<script>
import baseIconTitlebar from '../base-icon-titlebar.vue'

export default {
  name: 'icon-tilebar-close',
  components: { baseIconTitlebar },
  props: { size: Number },
}
</script>

<style></style>
