<template>
  <base-icon-titlebar :size='size'>
    <rect
      width='9'
      height='9'
      x='1.5'
      y='1.5'
      fill='none'
      stroke='currentColor'
    />
  </base-icon-titlebar>
</template>

<script>
import baseIconTitlebar from '../base-icon-titlebar.vue'

export default {
  name: 'icon-titlebar-minmax',
  components: { baseIconTitlebar },
  props: { size: Number },
}
</script>

<style></style>
