::-webkit-scrollbar {
  /* background: purple; */
  width: var(--app-scrollbar-width);
  background-color: rgb(var(--color-background));
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(var(--color-scrollbar-track));
  border-width: var(--app-scrollbar-border);
  border-color: rgb(var(--color-background));
  border-style: solid;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(var(--color-scrollbar-thumb));
  border-width: var(--app-scrollbar-border);
  border-color: rgb(var(--color-background));
  border-style: solid;
}

::-webkit-scrollbar-thumb:not(.dark-theme) {
  background-color: rgb(206, 213, 221);
}
