:root {
  --color-blue: 61, 180, 242;
  --color-blue-dim: 141, 178, 219;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-red: 232, 93, 117;
  --color-peach: 250, 122, 122;
  --color-orange: 247, 154, 99;
  --color-yellow: 247, 191, 99;
  --color-green: 123, 213, 85;
  --color-purple: 121, 75, 196;

  --app-gap: 12px;
  --app-sidebar-width: 48px;
  --app-min-width: 800px;
  --app-min-height: 600px;
  --app-border-radius-s: 2px;
  --app-border-radius-m: 4px;
  --app-border-radius-l: 8px;
  --app-titlebar-height: 24px;
  --app-scrollbar-width: 16px;
  --app-scrollbar-border: 4px;

  --color-background: 227, 228, 230;
  --color-foreground: 255, 255, 255;
  --color-select: 242, 243, 245;
  --color-input: 237, 238, 240;

  --color-text: 92, 114, 138;
  --color-text-light: 122, 133, 143;
  --color-text-lighter: 146, 153, 161;
  --color-text-bright: 237, 241, 245;
  --color-text-brighter: 251, 253, 255;

  --color-titlebar: 255, 255, 255;
  --color-titlebar-button-hover: var(--color-text-bright);

  --color-search: var(--color-select);
  --color-search-input: var(--color-foreground);

  --color-scrollbar-track: var(--color-select);
  --color-scrollbar-thumb: 179, 185, 191;

  --color-primary: var(--color-orange);
  --color-danger: var(--color-red);
  --color-cancel: var(--color-select);
}

.theme-dark {
  --color-background: 39, 44, 56;
  --color-foreground: 31, 35, 45;
  --color-select: 25, 29, 38;
  --color-input: 39, 44, 56;

  --color-text: 159, 173, 189;
  --color-text-light: 129, 140, 153;
  --color-text-lighter: 133, 150, 165;
  --color-text-bright: 207, 211, 215;
  --color-text-brighter: 251, 253, 255;
  --color-shadow-blue: 0, 5, 15;

  --color-titlebar: 25, 29, 38;
  --color-titlebar-button-hover: 0, 0, 0, 0.3;

  --color-search: var(--color-foreground);
  --color-search-input: var(--color-background);

  --color-scrollbar-track: var(--color-foreground);
  --color-scrollbar-thumb: var(--color-select);
}
