<template>
  <div class='upload'>
    <upload-drop @upload='upload' />
    <upload-paste @upload='upload' />
  </div>
</template>

<script>
import { promises as fs } from 'fs'
import path from 'path'
import config from '../../../path-config.js'
import { v4 as uuid } from 'uuid'

import uploadDrop from './upload-drop.vue'
import uploadPaste from './upload-paste.vue'

export default {
  name: 'app-upload',
  components: {
    uploadDrop,
    uploadPaste,
  },
  methods: {
    drop(e) {
      this.callback(this.parseDrop(e.dataTransfer))
    },

    async upload(e) {
      let data

      if (e.type == 'nativeImage') {
        data = {
          type: 'path',
          links: [await this.saveTmpImage(e.data)],
        }
      } else if (e.type == 'path') {
        data = e
      } else if (e.type == 'link') {
        data = e
      }

      // Try to upload image
      this.$emit('upload', data)
    },

    async saveTmpImage(nativeImage) {
      const link = path.join(config.paths.temp, `${uuid().slice(0, 8)}.jpeg`)
      // const link = path.join(config.paths.temp, 'temp.jpeg')
      try {
        // await fs.unlink(link)
        await fs.writeFile(link, nativeImage.toJPEG(100)) // need to be in an async function
      } catch (error) {
        console.error(error)
      }
      return link
    },
  },
}
</script>

<style></style>
