<template>
  <div v-if='false' />
</template>
<script>
import { clipboard } from 'electron'

export default {
  name: 'upload-paste',
  mounted() {
    document.onpaste = () => {
      const formats = clipboard.availableFormats()

      for (let f of formats) {
        const [image] = f.split('/')

        if (image == 'image') {
          // Fire if data is ok
          // @arg Normalized image data
          this.$emit('upload', {
            type: 'nativeImage',
            data: clipboard.readImage(),
          })
        }
      }
    }
  },
}
</script>

<style></style>
