<template>
  <div
    class='drop-area'
    @drop='drop'
    @dragleave='hide'
  >
    <div class='modal'>
      <h2 class='title'>
        Drag & Drop
      </h2>
      <p class='instructions'>
        You can add tags and descriptions after.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'upload-drop',
  mounted() {
    // drop not working without line bellow ¯\_(ツ)_/¯
    this.$el.ondragover = () => false
    document.ondragenter = this.show
  },
  methods: {
    show() {
      this.$el.classList.add('show')
    },

    hide() {
      this.$el.classList.remove('show')
    },

    drop(e) {
      this.hide()

      const data = {
        type: '',
        links: [],
      }

      if (e.dataTransfer.types.includes('text/uri-list')) {
        data.type = 'link'
        data.links = [e.dataTransfer.getData('text/uri-list')]
      } else {
        for (let file of e.dataTransfer.files) {
          data.type = 'path'
          data.links.push(file.path)
        }
      }
      // Fire if data is ok
      // @arg Normalized image data
      this.$emit('upload', data)
    },
  },
}
</script>

<style scoped>
.drop-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 2000;
}

.drop-area.show {
  visibility: visible;
  opacity: 1;
}

.drop-area .modal {
  pointer-events: none;
  background: rgb(var(--color-foreground));
  padding: 2rem;
  border-radius: var(--medium-border-radius);
  outline: 2px dashed rgb(var(--color-text));
  outline-offset: -16px;
  text-align: center;
}

.drop-area .title {
  font-size: 1.5rem;
}

.drop-area .instructions {
  color: rgb(var(--color-text-light));
}
</style>
