<template>
  <div class='settings'>
    <div class='content'>
      <div class='setting'>
        <base-title>test title</base-title>
        <div class='text'>
          setting text
        </div>
      </div>
    </div>
    <div class='buttons'>
      <base-button
        class='close'
        type='cancel'
        @click='close'
      >
        Close
      </base-button>
    </div>
  </div>
</template>

<script>
import baseTitle from '../ui/base-title.vue'
import baseButton from '../ui/base-button.vue'

export default {
  name: 'app-settings',
  components: {
    baseTitle,
    baseButton,
  },
  methods: {
    close() {
      // Close settings popup
      this.$emit('close')
    },
  },
}
</script>

<style scoped>
  .settings {
    width: 100%;
    height: calc(100% - var(--app-titlebar-height));
    background: rgb(var(--color-background));
    position: fixed;
    padding: 16px 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    margin-top: auto;
    display: inline-block;
    /* position: absolute;
    right: 0 */
  }
</style>
