<template>
  <nav
    class='app-nav'
  >
    <div
      class='item search'
      :class='{ "active": searchActive }'
      @click='$emit("toggle-search")'
    >
      <icon-search :size='32' />
    </div>
    <!-- <div
      class='item settings'
      @click='$emit("show-settings")'
    >
      <icon-settings :size='32' />
    </div> -->
    <div
      class='item theme'
      :class='theme'
      @click='$emit("toggle-theme"); toggleThemeIcon()'
    >
      <transition name='theme'>
        <icon-theme-dark
          v-show='theme == "dark"'
          class='dark'
          :size='32'
        />
      </transition>
      <transition name='theme'>
        <icon-theme-light
          v-show='theme == "light"'
          class='light'
          :size='32'
        />
      </transition>
    </div>
  </nav>
</template>

<script>
import iconSearch from '../ui/icons/icon-search.vue'
import iconSettings from '../ui/icons/icon-settings.vue'
import iconThemeDark from '../ui/icons/icon-theme-dark.vue'
import iconThemeLight from '../ui/icons/icon-theme-light.vue'

export default {
  name: 'app-nav',
  components: {
    iconSearch,
    iconSettings,
    iconThemeDark,
    iconThemeLight,
  },
  props: {
    // Show search sidebar
    searchActive: {
      type: Boolean,
      default: true,
    },
    // App theme from last session
    initialTheme: {
      // `'light'` / `'dark'`
      type: String,
      validator: (value) => ['light', 'dark'].includes(value),
      default: 'dark',
    },
  },
  data() {
    return {
      theme: this.initialTheme,
    }
  },
  methods: {
    toggleThemeIcon() {
      if (this.theme == 'light') {
        this.theme = 'dark'
      } else {
        this.theme = 'light'
      }
    },
  },
}
</script>

<style scoped>
.app-nav {
  background-color: rgb(var(--color-titlebar));
  overflow: hidden;

  position: relative;
  width: var(--app-sidebar-width);
  height: 100%;
  padding: 16px 0 32px;

  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item {
  --color: var(--color-text);
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.icon {
  color: rgb(var(--color));
}

.item.active,
.item:hover {
  --color: var(--color-primary);
}

/* .item.settings {
  margin-top: auto;
} */

.item.theme {
  margin-top: auto;
  position: relative;
  height: 32px;
}

.item.theme .icon {
  position: absolute;
}

.item.theme:hover .light {
  --color: var(--color-yellow);
}

.item.theme:hover .dark {
  --color: var(--color-white);
}

.theme-enter-active { transition: 0.5s; }
.theme-leave-active { transition: 0.5s; }
.theme-enter        { opacity: 0; transform: rotate(0deg) }
.theme-enter-to     { opacity: 1; transform: rotate(360deg) }
.theme-leave        { opacity: 1; transform: rotate(0deg) }
.theme-leave-to     { opacity: 0; transform: rotate(360deg) }
</style>
