<template>
  <textarea
    class='textarea'
    :value='value'
    :placeholder='placeholder'
    @input='input($event); resize()'
  />
</template>

<script>
export default {
  name: 'base-textarea',
  props: {
    // placeholder text
    placeholder: String,
    // bind value
    value: String,
  },
  methods: {

    paste(e) {
      e.preventDefault()
      const clearText = e.clipboardData.getData('text/plain')
      document.execCommand('inserttext', false, clearText)
    },

    input(e) {
      this.$emit('input', e.target.value)
    },

    resize() {
      if (this.$el.scrollHeight != this.$el.offsetHeight
      // if was resized than stop resize on type
      && this.$el.style.cssText.indexOf('margin') == -1) {
        this.$el.style.cssText = `height: ${this.$el.scrollHeight}px`
      }
    },

    text() {
      return this.$el.value
    },

    setText(text) {
      this.$el.value = text
    },

    clear() {
      this.$el.innerText = ''
    },
  },
}
</script>

<style scoped>
.textarea {
  border-radius: var(--app-border-radius-s);
  background: rgb(var(--color-input));
  color: rgb(var(--color-text));
  border: none;
  font: inherit;
  min-height: 50px;
  height: fit-content;
  padding: 1rem;
  padding-right: 8px;
}

.scroll {

}

::placeholder {
  color: rgb(var(--color-text-lighter));
  pointer-events: none;
}

.textarea:focus {
  outline-color: rgba(var(--color-primary), 0.4);
  outline: none;
}
</style>
