<template>
  <i
    class='icon'
    :style='`--size: ${+size}px`'
  >
    <svg
      width='24'
      height='24'
      viewBox='0 0 24 24'
    >
      // svg icon
      <slot />
    </svg>
  </i>
</template>

<script>
export default {
  name: 'base-icon',
  props: {
    // icon size in px
    size: {
      type: Number,
      default: 12,
    },
  },
}
</script>

<style scoped>
  .icon {
    position: relative;
    display: flex;
    width: var(--size);
    height: var(--size);
  }

  .icon > * {
    width: 100%;
    height: 100%;
  }
</style>
