<template>
  <h2 class='title'>
    <slot />
  </h2>
</template>

<script>
</script>

<style scoped>
.title {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 8px;
  margin-left: 8px;
}
</style>
