<template>
  <input
    class='input'
    :value='value'
    :placeholder='placeholder'
    @input='input'
  >
</template>

<script>
export default {
  name: 'base-input',
  props: {
    // placeholder text
    placeholder: String,
    // bind value
    value: String,
  },
  methods: {
    paste(e) {
      e.preventDefault()
      const clearText = e.clipboardData.getData('text/plain')
      document.execCommand('inserttext', false, clearText)
    },

    input(e) {
      this.$emit('input', e.target.value)
    },

    text() {
      return this.$el.innerText
    },

    setText(text) {
      this.$el.innerText = text
    },

    clear() {
      this.$el.innerText = ''
    },
  },
}
</script>

<style scoped>
.input {
  border-radius: var(--app-border-radius-s);
  background: rgb(var(--color-background));
  color: rgb(var(--color-text));
  border: none;

  /* padding: 1rem; */
}

/* .input:empty:before {
  content: attr(placeholder);
  color: rgb(var(--color-text-lighter));
  pointer-events: none;
  display: block;
} */

.input:focus {
  outline-color: rgba(var(--color-primary), 0.4);
  outline: none;
}
</style>
