<template>
  <button
    class='button'
    :class='typeClass'
    @click='$emit("click", $event)'
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'base-button',
  props: {
    // `['danger', 'canel']`
    type: String,
  },
  data() {
    return {
      types: ['danger', 'cancel'],
    }
  },
  computed: {
    typeClass() {
      return this.types[this.types.indexOf(this.type)]
    },
  },
}
</script>

<style scoped>
.button {
  border: none;
  font-size: 14px;
  padding: 0.55rem 1rem 0.5rem;
  border-radius: var(--app-border-radius-s);
  background: rgba(var(--color-primary), 1);
  color: rgb(var(--color-text-brighter));
  cursor: pointer;
}

.button:hover {
  background: rgba(var(--color-primary), 0.9);
}

.button.danger {
  background: rgba(var(--color-red), 1);
}

.button.danger:hover {
  background: rgba(var(--color-red), 0.9);
}

.button.cancel {
  background: rgba(var(--color-background), 1);
  color: rgb(var(--color-text));
}

.button.cancel:hover {
  background: rgba(var(--color-background), 0.8);
}

.button:focus {
  outline-color: white;
}
</style>
