<template>
  <div
    contenteditable='true'
    class='contenteditable'
    :placeholder='placeholder'
    @paste='paste'
    @keydown='$emit("keydown", $event)'
    @input='$emit("input", $el.innerText)'
  />
</template>

<script>
export default {
  name: 'base-contenteditable',
  model: {
    prop: 'value',
    event: 'test-event',
  },
  props: {
    // placeholder text
    placeholder: String,
    // initial vaue
    value: String,
  },
  computed: {},
  methods: {
    paste(e) {
      e.preventDefault()
      const clearText = e.clipboardData.getData('text/plain')
      document.execCommand('inserttext', false, clearText)
    },

    text() {
      return this.$el.innerText
    },

    setText(text) {
      this.$el.innerText = text
    },

    clear() {
      this.$el.innerText = ''
    },
  },
}
</script>

<style scoped>
.contenteditable {
  border-radius: var(--app-border-radius-s);
  background: rgb(var(--color-input));
  color: rgb(var(--color-text));
  padding: 1rem;
}

.contenteditable:empty:before {
  content: attr(placeholder);
  color: rgb(var(--color-text-lighter));
  pointer-events: none;
  display: block; /* For Firefox */
}

.contenteditable:focus {
  outline-color: rgba(var(--color-primary), 0.4);
  outline: none;
}
</style>
