<template>
  <div
    class='tag'
  >
    <div class='name'>
      {{ name }}
    </div>
    <div
      class='close'
      @click='$emit("remove")'
    >
      <svg
        aria-hidden='false'
        width='12'
        height='12'
        viewBox='0 0 12 12'
      >
        <path
          stroke='currentColor'
          fill='none'
          stroke-width='1'
          d='M 1, 1 L 6, 6 L 1, 11 M 11, 11 L 6, 6 L 11, 1 M 0, 0 Z'
        />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'base-tag',
  props: {
    // tag text
    name: String,
  },
}
</script>

<style scoped>
.tag {
  min-width: calc(1rem + 8px);
  background: rgb(var(--color-primary), 1);
  color: rgb(var(--color-text-bright));
  border-radius: var(--app-border-radius-s);
  position: relative;

  transition: 0.3s;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 16px;
}

.tag .name {
  padding: 5px 0 4px 8px;
  color: rgb(var(--color-text-brighter));
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag .close {
  font-size: 0;
  padding: 5px 8px 4px;
  cursor: pointer;
  color: rgb(var(--color-text-brighter));
}

/* .tag .close:hover {
  color: rgb(var(--color-text));
} */

.tag.dup {
  background: rgb(var(--color-danger), 0.7);
}
</style>
