<template>
  <div
    v-show='results.length'
    class='results'
  >
    <div
      v-for='(result, i) in results'
      ref='lines'
      :key='result.name'
      class='line'
      :class='{ divider: result.isDivider, selected: isSelected(i) }'
      @click='
        selected = i;
        choose(i);
      '
    >
      {{ result.name }}
    </div>
  </div>
</template>

<script>
import { images } from '../../db'

export default {
  name: 'tag-picker-results',
  props: {
    // search query
    query: String,
    // max number of results
    resultsMax: Number,
  },
  data() {
    return {
      tags: [],
      results: [],
      selected: -1,
    }
  },
  methods: {
    isSelected(i) {
      if (i == this.selected) return true
      return false
    },

    async show(query) {
      if (query != '') {
        let results = await images.tags.all()

        results = results.filter(
          r => r.name.includes(query) && r.name != query && !this.tags.includes(r.name),
        )
        results.sort((a, b) => {
          if (a.name.indexOf(query) > b.name.indexOf(query)) {
            return 1
          }
          if (a.name.indexOf(query) < b.name.indexOf(query)) {
            return -1
          }
          if (a.name > b.name) {
            return 1
          }
          if (a.name < b.name) {
            return -1
          }
          return 0
        })

        for (let i in results) {
          if (results[i].name.indexOf(query) != 0) {
            if (i == 0) break
            results[i].isDivider = true
            break
          }
        }

        results = results.slice(0, this.resultsMax)
        this.results = results
      } else {
        this.results = []
      }
      this.selected = -1
    },

    clear() {
      this.results = []
    },

    circulate(e) {
      if (this.results.length == 0) return

      if (!e.shiftKey) {
        this.selected += 1
      } else {
        this.selected -= 1
      }

      if (this.selected >= this.results.length) {
        this.selected = 0
      }
      if (this.selected < 0) {
        this.selected = this.results.length - 1
      }

      // update input value
      // @arg new text
      this.$emit('update-input', this.$refs.lines[this.selected].innerText)
    },

    choose() {
      // update input value
      // @arg new text
      this.$emit('update-input', this.$refs.lines[this.selected].innerText)
      // append tag from input value
      this.$emit('add')
    },
  },
}
</script>

<style>
.results {
  width: 100%;
  background: rgb(var(--color-input));
  padding-bottom: 8px;
}

.results .line {
  padding: 12px 16px;
  position: relative;
  color: rgb(var(--color-text));
  overflow: hidden;
  text-overflow: ellipsis;
}

.results .line:hover {
  background: rgba(var(--color-select), 0.3);
}

.results .line.selected {
  background: rgba(var(--color-select), 0.5);
}

.results .divider {
  margin-top: 12px;
}

.results .divider:before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100%;
  margin: 6px 0;
  background: rgba(var(--color-input), 0.3);
  height: 1px;
}
</style>
