
<template>
  <div
    class='tag-picker'
    @click='$refs.input.$el.focus()'
  >
    <div class='tags'>
      <base-tag
        v-for='(tag, i) in tags'
        :key='tag'
        ref='tags'
        class='tag'
        :name='tag'
        @remove='remove(i)'
      />

      <base-contenteditable
        ref='input'
        :placeholder='placeholder'
        @input='updateResults'
        @keydown.enter.prevent='add'
        @keydown.tab.prevent='$refs.results.circulate'
        @keydown.backspace='backspace'
      />
    </div>
    <tag-picker-results
      ref='results'
      query='searchQuary'
      :out-tags='tags'
      :results-max='resultsMax'
      @update-input='updateInput'
      @add='add'
    />
  </div>
</template>

<script>
import baseContenteditable from '../ui/base-contenteditable.vue'
import baseTag from '../ui/base-tag.vue'
import tagPickerResults from './tag-picker-results.vue'

export default {
  name: 'tags-picker',
  components: {
    baseTag,
    baseContenteditable,
    tagPickerResults,
  },
  props: {
    // initial tags
    initialTags: {
      type: Array,
      default() {
        return []
      },
    },
    // placeholder text for input
    placeholder: String,
  },
  data() {
    return {
      tags: this.initialTags,
      resultsMax: 5,
      searchQuary: '',
    }
  },
  methods: {
    add() {
      const text = this.$refs.input.text()
      let tags = text
        .trim()
        .split(',')
        .map((t) => t.trim().toLowerCase())
        .filter((t) => t)
      tags = [...new Set(tags)]

      const tagsNoDupes = []
      for (let tagName of tags) {
        let i = this.tags.indexOf(tagName)
        if (i != -1) {
          this.showDup(i)
        } else {
          tagsNoDupes.push(tagName)
        }
      }

      this.tags = [...this.tags, ...tagsNoDupes]
      this.$refs.input.clear()
      this.$refs.results.clear()

      // Fire when tags updated
      // @arg new tags
      this.$emit('update', this.tags)
    },

    backspace() {
      const selection = document.getSelection()
      if (selection.baseOffset == 0 && selection.focusOffset == 0) {
        this.remove(this.tags.length - 1)
      }
    },

    remove(index) {
      this.tags = this.tags.filter((e, i) => i != index)

      this.$emit('update', this.tags)
    },

    showDup(i) {
      this.$refs.tags[i].$el.classList.add('dup')
      setTimeout(() => {
        this.$refs.tags[i].$el.classList.remove('dup')
      }, 500)
    },

    updateResults() {
      this.$refs.results.show(this.$refs.input.text())
    },

    updateInput(text) {
      this.$refs.input.setText(text)

      this.moveCursorToEnd(this.$refs.input.$el)
    },

    moveCursorToEnd(el) {
      el.focus()
      document.getSelection().collapse(el, 1)
    },
  },
}
</script>

<style>
.tag-picker .tags {
  padding: 16px;
  background: rgb(var(--color-input));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-right: 12px;
  padding-bottom: 12px;
}

.tag-picker .tag {
  margin-right: 4px;
  margin-bottom: 4px;
}

.tag-picker .contenteditable {
  padding: 4px 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 4px;
  min-width: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: inherit;
}
</style>
